// Root styles for the user list table
.user-list-table {
  .v-card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .v-card-title {
    color: #0056ae;
    font-weight: bold;
  }

  .pa-4 {
    padding: 16px;
  }

  .font-size-20 {
    font-size: 20px !important;
  }
}

